.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-text-styles {
    color: #1E1F36;
    font-family: Kumbh Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sub-text-styles {
    color: #787887;
    font-family: Kumbh Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
} 